<a href="https://colab.research.google.com/github/vivekkothekarr/ML-Lab-Practicals/blob/main/Practical_6_Vivek_Kothekar_(CS23110).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name:** Vivek R. Kothekar (CS23110)

**AIM:** To design and implement an Artificial Neural Network for
classification problem and evaluate its learning performance.

In [ ]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path="/content/drive/MyDrive/ML/P_6.csv"
df=pd.read_csv(path)
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [ ]:
df.info

<bound method DataFrame.info of       RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>

In [ ]:
df.shape

(10000, 14)

In [ ]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
df.isnull().any().any()

np.False_

In [ ]:
df[df.isnull().any(axis = 1)]

Empty DataFrame
Columns: [RowNumber, CustomerId, Surname, CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, Exited]
Index: []

In [ ]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df.shape

(10000, 14)

In [ ]:
before_rows=df.shape[0]
df=df.dropna()
after_rows=df.shape[0]

print("Before rows:", before_rows)
print("After rows:", after_rows)
print("The no. of dropped rows are:", before_rows - after_rows)

Before rows: 10000
After rows: 10000
The no. of dropped rows are: 0

In [ ]:
X=df.iloc[:,3:-1]
y=df.iloc[:,-1]
print(X)
print(y)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France  Female   42       2       0.00              1
1             608     Spain  Female   41       1   83807.86              1
2             502    France  Female   42       8  159660.80              3
3             699    France  Female   39       1       0.00              2
4             850     Spain  Female   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France    Male   39       5       0.00              2
9996          516    France    Male   35      10   57369.61              1
9997          709    France  Female   36       7       0.00              1
9998          772   Germany    Male   42       3   75075.31              2
9999          792    France  Female   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
...         ...             ...              ...
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]
0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X, y, train_size = 0.7, test_size = 0.3, random_state=42)

In [ ]:
X = pd.get_dummies(X, dtype=int)

In [ ]:
X_train.shape,X_test.shape

((7000, 10), (3000, 10))

In [ ]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
import tensorflow as tf

In [ ]:
ann = tf.keras.models.Sequential()

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [ ]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
ann.fit(X_train,y_train, batch_size=32,epochs=100)

Epoch 1/100
219/219  3s 5ms/step - accuracy: 0.5921 - loss: 0.6746
Epoch 2/100
219/219  1s 5ms/step - accuracy: 0.7959 - loss: 0.4835
Epoch 3/100
219/219  1s 5ms/step - accuracy: 0.8131 - loss: 0.4489
Epoch 4/100
219/219  1s 6ms/step - accuracy: 0.8131 - loss: 0.4391
Epoch 5/100
219/219  1s 5ms/step - accuracy: 0.8242 - loss: 0.4253
Epoch 6/100
219/219  1s 2ms/step - accuracy: 0.8243 - loss: 0.4255
Epoch 7/100
219/219  0s 2ms/step - accuracy: 0.8232 - loss: 0.4212
Epoch 8/100
219/219  0s 2ms/step - accuracy: 0.8386 - loss: 0.3945
Epoch 9/100
219/219  0s 2ms/step - accuracy: 0.8445 - loss: 0.3845
Epoch 10/100
219/219  0s 2ms/step - accuracy: 0.8457 - loss: 0.3782
Epoch 11/100
219/219  0s 2ms/step - accuracy: 0.8402 - loss: 0.3816
Epoch 12/100
219/219  0s 2ms/step - accuracy: 0.8585 - loss: 0.3620
Epoch 13/100
219/219  0s 2ms/step - accuracy: 0.8570 - loss: 0.3551
Epoch 14/100
219/219  0s 2ms/step - accuracy: 0.8545 - loss: 0.3539
Epoch 15/100
219/219  0s 2ms/step - accuracy: 0.8569 - loss: 0.3523
Epoch 16/100
219/219  0s 2ms/step - accuracy: 0.8534 - loss: 0.3582
Epoch 17/100
219/219  0s 2ms/step - accuracy: 0.8526 - loss: 0.3582
Epoch 18/100
219/219  0s 2ms/step - accuracy: 0.8627 - loss: 0.3427
Epoch 19/100
219/219  0s 2ms/step - accuracy: 0.8607 - loss: 0.3417
Epoch 20/100
219/219  0s 2ms/step - accuracy: 0.8684 - loss: 0.3286
Epoch 21/100
219/219  0s 2ms/step - accuracy: 0.8572 - loss: 0.3461
Epoch 22/100
219/219  0s 2ms/step - accuracy: 0.8629 - loss: 0.3386
Epoch 23/100
219/219  0s 2ms/step - accuracy: 0.8598 - loss: 0.3381
Epoch 24/100
219/219  0s 2ms/step - accuracy: 0.8614 - loss: 0.3325
Epoch 25/100
219/219  0s 2ms/step - accuracy: 0.8604 - loss: 0.3441
Epoch 26/100
219/219  0s 2ms/step - accuracy: 0.8602 - loss: 0.3471
Epoch 27/100
219/219  0s 2ms/step - accuracy: 0.8594 - loss: 0.3386
Epoch 28/100
219/219  1s 3ms/step - accuracy: 0.8641 - loss: 0.3312
Epoch 29/100
219/219  1s 3ms/step - accuracy: 0.8605 - loss: 0.3373
Epoch 30/100
219/219  1s 3ms/step - accuracy: 0.8599 - loss: 0.3446
Epoch 31/100
219/219  1s 3ms/step - accuracy: 0.8575 - loss: 0.3402
Epoch 32/100
219/219  1s 3ms/step - accuracy: 0.8621 - loss: 0.3322
Epoch 33/100
219/219  1s 3ms/step - accuracy: 0.8709 - loss: 0.3237
Epoch 34/100
219/219  1s 3ms/step - accuracy: 0.8607 - loss: 0.3346
Epoch 35/100
219/219  1s 2ms/step - accuracy: 0.8609 - loss: 0.3376
Epoch 36/100
219/219  0s 2ms/step - accuracy: 0.8712 - loss: 0.3199
Epoch 37/100
219/219  0s 2ms/step - accuracy: 0.8635 - loss: 0.3330
Epoch 38/100
219/219  1s 2ms/step - accuracy: 0.8660 - loss: 0.3336
Epoch 39/100
219/219  0s 2ms/step - accuracy: 0.8668 - loss: 0.3315
Epoch 40/100
219/219  0s 2ms/step - accuracy: 0.8654 - loss: 0.3268
Epoch 41/100
219/219  0s 2ms/step - accuracy: 0.8613 - loss: 0.3388
Epoch 42/100
219/219  1s 2ms/step - accuracy: 0.8585 - loss: 0.3408
Epoch 43/100
219/219  0s 2ms/step - accuracy: 0.8630 - loss: 0.3306
Epoch 44/100
219/219  0s 2ms/step - accuracy: 0.8627 - loss: 0.3395
Epoch 45/100
219/219  0s 2ms/step - accuracy: 0.8563 - loss: 0.3403
Epoch 46/100
219/219  0s 2ms/step - accuracy: 0.8578 - loss: 0.3377
Epoch 47/100
219/219  0s 2ms/step - accuracy: 0.8634 - loss: 0.3339
Epoch 48/100
219/219  0s 2ms/step - accuracy: 0.8621 - loss: 0.3332
Epoch 49/100
219/219  0s 2ms/step - accuracy: 0.8622 - loss: 0.3301
Epoch 50/100
219/219  1s 2ms/step - accuracy: 0.8524 - loss: 0.3523
Epoch 51/100
219/219  0s 2ms/step - accuracy: 0.8619 - loss: 0.3341
Epoch 52/100
219/219  1s 2ms/step - accuracy: 0.8635 - loss: 0.3304
Epoch 53/100
219/219  0s 2ms/step - accuracy: 0.8649 - loss: 0.3328
Epoch 54/100
219/219  0s 2ms/step - accuracy: 0.8698 - loss: 0.3206
Epoch 55/100
219/219  0s 2ms/step - accuracy: 0.8570 - loss: 0.3332
Epoch 56/100
219/219  1s 3ms/step - accuracy: 0.8703 - loss: 0.3251
Epoch 57/100
219/219  1s 3ms/step - accuracy: 0.8631 - loss: 0.3362
Epoch 58/100
219/219  1s 3ms/step - accuracy: 0.8615 - loss: 0.3362
Epoch 59/100
219/219  1s 3ms/step - accuracy: 0.8657 - loss: 0.3300
Epoch 60/100
219/219  1s 2ms/step - accuracy: 0.8633 - loss: 0.3281
Epoch 61/100
219/219  0s 2ms/step - accuracy: 0.8631 - loss: 0.3300
Epoch 62/100
219/219  0s 2ms/step - accuracy: 0.8574 - loss: 0.3341
Epoch 63/100
219/219  0s 2ms/step - accuracy: 0.8584 - loss: 0.3338
Epoch 64/100
219/219  0s 2ms/step - accuracy: 0.8604 - loss: 0.3335
Epoch 65/100
219/219  0s 2ms/step - accuracy: 0.8609 - loss: 0.3364
Epoch 66/100
219/219  0s 2ms/step - accuracy: 0.8630 - loss: 0.3313
Epoch 67/100
219/219  0s 2ms/step - accuracy: 0.8619 - loss: 0.3303
Epoch 68/100
219/219  0s 2ms/step - accuracy: 0.8582 - loss: 0.3363
Epoch 69/100
219/219  0s 2ms/step - accuracy: 0.8609 - loss: 0.3374
Epoch 70/100
219/219  0s 2ms/step - accuracy: 0.8757 - loss: 0.3208
Epoch 71/100
219/219  0s 2ms/step - accuracy: 0.8586 - loss: 0.3405
Epoch 72/100
219/219  0s 2ms/step - accuracy: 0.8558 - loss: 0.3373
Epoch 73/100
219/219  0s 2ms/step - accuracy: 0.8611 - loss: 0.3320
Epoch 74/100
219/219  0s 2ms/step - accuracy: 0.8621 - loss: 0.3392
Epoch 75/100
219/219  0s 2ms/step - accuracy: 0.8626 - loss: 0.3267
Epoch 76/100
219/219  0s 2ms/step - accuracy: 0.8686 - loss: 0.3252
Epoch 77/100
219/219  0s 2ms/step - accuracy: 0.8612 - loss: 0.3334
Epoch 78/100
219/219  0s 2ms/step - accuracy: 0.8628 - loss: 0.3305
Epoch 79/100
219/219  0s 2ms/step - accuracy: 0.8611 - loss: 0.3339
Epoch 80/100
219/219  0s 2ms/step - accuracy: 0.8671 - loss: 0.3264
Epoch 81/100
219/219  1s 3ms/step - accuracy: 0.8598 - loss: 0.3305
Epoch 82/100
219/219  1s 3ms/step - accuracy: 0.8482 - loss: 0.3553
Epoch 83/100
219/219  1s 3ms/step - accuracy: 0.8733 - loss: 0.3167
Epoch 84/100
219/219  1s 3ms/step - accuracy: 0.8706 - loss: 0.3152
Epoch 85/100
219/219  1s 3ms/step - accuracy: 0.8690 - loss: 0.3196
Epoch 86/100
219/219  1s 3ms/step - accuracy: 0.8635 - loss: 0.3353
Epoch 87/100
219/219  0s 2ms/step - accuracy: 0.8630 - loss: 0.3283
Epoch 88/100
219/219  0s 2ms/step - accuracy: 0.8638 - loss: 0.3363
Epoch 89/100
219/219  0s 2ms/step - accuracy: 0.8673 - loss: 0.3305
Epoch 90/100
219/219  0s 2ms/step - accuracy: 0.8665 - loss: 0.3331
Epoch 91/100
219/219  0s 2ms/step - accuracy: 0.8570 - loss: 0.3413
Epoch 92/100
219/219  0s 2ms/step - accuracy: 0.8617 - loss: 0.3330
Epoch 93/100
219/219  0s 2ms/step - accuracy: 0.8679 - loss: 0.3314
Epoch 94/100
219/219  0s 2ms/step - accuracy: 0.8700 - loss: 0.3260
Epoch 95/100
219/219  0s 2ms/step - accuracy: 0.8760 - loss: 0.3131
Epoch 96/100
219/219  0s 2ms/step - accuracy: 0.8637 - loss: 0.3271
Epoch 97/100
219/219  0s 2ms/step - accuracy: 0.8739 - loss: 0.3171
Epoch 98/100
219/219  0s 2ms/step - accuracy: 0.8656 - loss: 0.3310
Epoch 99/100
219/219  0s 2ms/step - accuracy: 0.8686 - loss: 0.3263
Epoch 100/100
219/219  0s 2ms/step - accuracy: 0.8541 - loss: 0.3529

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
y_pred

94/94  1s 5ms/step

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [ ]:
print('confusion_matrix')
confusion_matrix(y_test, y_pred)
print(confusion_matrix(y_pred, y_test))

confusion_matrix
[[2334  313]
 [  82  271]]

In [ ]:
import seaborn as sns

In [ ]:
print('accuracy_score')
accuracy_score(y_test, y_pred)

accuracy_score

0.8683333333333333